.project-layout {
    display: flex;
    height: calc(100vh - var(--header-height));
    width: 100%;
    overflow: hidden;
    /* Prevent body scroll */
}

.project-content {
    flex: 1;
    overflow-y: auto;
    background-color: #0c0c0c;
    /* Matching the main theme background */
    height: 100%;
}