@keyframes shimmer {
    0% {
        background-position: -600px;
    }

    100% {
        background-position: 600px;
    }
}

.shimmer-effect {
    background: #1a1a1a;
    background-image: linear-gradient(90deg,
            #1a1a1a 0px,
            #262626 40px,
            #1a1a1a 80px);
    background-size: 600px;
    animation: shimmer 1.5s infinite linear;
    position: relative;
    overflow: hidden;
}